[submodule "vendor/rt-thread"]
	path = vendor/os/rt-thread
	url = https://github.com/RT-Thread/rt-thread.git
	branch = v5.2.2
[submodule "vendor/freertos"]
	path = vendor/os/freertos
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
	branch = V11.2.0
[submodule "vendor/lib/freertos-plus-tcp"]
	path = vendor/lib/freertos-plus-tcp
	url = https://github.com/FreeRTOS/FreeRTOS-Plus-TCP.git
[submodule "third_party/rtthread-micropython"]
	path = third_party/rtthread-micropython
	url = https://github.com/RT-Thread-packages/micropython.git
	branch = master
	ignore = untracked
